.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* width: 767px; */
  height: 80px;
  padding: 10px 2%;
  background-image: linear-gradient(to right, #324555 , #131b21);
  font-size: 13px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  max-width: 120px;
  cursor: pointer;
}